<!DOCTYPE html>
	<head>
		<title>Room Control</title>
		<link rel="stylesheet" href="static/style.css/">
	</head>
	<body>
		<h1>BED LIGHTS</h1>
		<h3> 
			<a href="/off" class="button">OFF</a>
		</h3>
		<h3>
			<a href="/red" class="button">RED</a>
		</h3>
		<h3>
			<a href="/green" class="button">GREEN</a>
		</h3>
		<h3>
			<a href="/blue" class="button">BLUE</a>
		</h3>
		<h3>
			<a href="/random" class="button">RANDOM</a>
		</h3>
		<h3>
			<a href="/rainbow" class="button">RAINBOW</a>
		</h3>
	</body>
</html>
